<header class="container">

    <!-- Navbar -->

        <div class="row ">
            <div class="col-2">
                <div class="p-2 m-3">
                    <svg class=" rounded-circle avatar ">
                        <rect class="avatar" />
                    </svg>
                </div>
            </div>
            <div class="col-7"></div>
            <div class="col-1 p-2">
                <button class="btn m-4 d-none d-sm-block" type="submit"><i class="fa fa-search fa-2x" style="color: #EFEfEf;"></i></button>      
            </div>
            <div class="col-1 p-2">
                <button class="btn m-4 d-block " type="submit"><i class="fa fa-bars fa-2x" style="color: #EFEfEf;"></i></button> 
            </div>
        </div>
    



    
        <div class="row">
            <div class="col" ></div>
        <div class="col-10 d-flex align-items-end" style="height: 350px;">
            <h1 class="text-white">Tittel</h1>
        </div>
        <div class="col"></div>
        </div>
    
</header>